@media screen and (max-width: 992px) {
    #inputEmail4 {
        margin-left: 27px;
    }

    .h2_text {
        margin-left: 200px;
        margin-top: -70px;
    
    }

    .h2_text_3 {
        margin-left: 200px;
        margin-top: -72px;
    }

    .img_gallery {
        padding-left: -30px;
        width: 100px;
    }

    .about_me {
        margin-top: -32px;
    }

    .my_skills {
        margin-top: -12px;
        margin-bottom: -12px;
    }

    .video_text {
        margin-top: -12px;
        margin-bottom: -52px;
    }

    .vk_1 {
        margin-right: -382px;  
    }

    .section {
        width: 992px;
    }
} 